@model SoundClout.ViewModels.Form
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <form>
            <input type="text" placeholder="First Name" id="firstName" asp-for="@Model.FirstName" />
            <input type="text" placeholder="Last Name" id="lastName" asp-for="@Model.LastName" />
            <input type="datetime" asp-for="@Model.DOB"/>
            <div>
                <input type="radio" name="prefix" id="lil" value="Lil" asp-for="@Model.Prefix" checked/>
                <label for="lil">Lil</label>

                <input type="radio" name="prefix" id="yung" value="Yung" asp-for="@Model.Prefix"/>
                <label for="yung">Yung</label>
            </div>
            <button type="submit" asp-action="MakeDestiny">Submit</button>
        </form>
    </div>
    
    <div id="main">
        @if (Model.Clout != "")
        {
            <h3>@Html.DisplayFor(model => model.Prefix) @Html.DisplayFor(model => model.Clout)</h3>
        }
    </div>
</div>